####################################
# API
####################################

UPLOAD_TOKEN=CHANGE_ME_TO_RANDOM_64_CHAR_STRING

####################################
# WEB
####################################

WEB_USERNAME=admin
WEB_PASSWORD=CHANGE_ME

####################################
# SERVER
####################################

HOST=0.0.0.0
PORT=8000

####################################
# STORAGE
####################################

UPLOAD_DIR=/data/uploads

####################################
# LIMITS
####################################

MAX_FILE_SIZE_MB=20

####################################
# FEATURES
####################################

ENABLE_DOCS=false