#################################
# Сервер
#################################

SERVER_URL=http://192.168.1.10:8000/upload

UPLOAD_TOKEN=very-long-random-token

#################################
# Горячая клавиша
#################################

HOTKEY=ctrl+shift+a

#################################
# Скриншоты
#################################

JPEG_QUALITY=90

#################################
# Логирование
#################################

LOG_LEVEL=INFO
